* {
  box-sizing: border-box;
}
.container {
  margin: 2em 0;
  text-align: center;
}
.fonted {
  font-family: "Montserrat", sans-serif;
}

/* HELPERS */
.text-white {
  color: white;
}
.text-blue {
  color: rgb(0, 119, 255);
}
.text-red {
  color: red;
}
.text-green {
  color: rgb(0, 194, 0);
}
.text-bold {
  font-weight: 900;
}
.text-align-left {
  text-align: left;
  padding: 1em 2em;
}
/* HEADERS */
.header {
  font-weight: 100;
}
.covid-header {
  font-size: 24px;
  font-weight: 300;
}
/* NAV */
.nav {
  display: flex;
  flex-direction: column-reverse;
}
.nav img {
  height: auto;
  width: 50px;
  margin: auto;
}

/* GLOBAL FIGURES */
.global-figs__component {
  width: 100%;
}
.global-figs__background {
  /* "You could use :after - it doesn't really matter" (copy&pasted code) */
  padding: 2em 0 4em 0;
  width: 100%;
  z-index: 0;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/66/World_Map_Grayscale.png");
  background-position: center;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.global-figs__component {
  opacity: 1;
  z-index: 1;
}

/* COUNTRY SELECT */
.select-country__component {
  padding: 2em;
}
.select-country__choose {
  padding: 1em;
}
.select-country__select-box {
  padding: 0.3em;
  border: 2px solid rgb(195, 195, 195);
}
.select-country__select-box:focus {
  outline: none;
}

/* FIGURES */
.figures__component {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.figures__card {
  background: rgb(197, 197, 197);
  padding: 0.5em;
}

@media screen and (min-width: 900px) {
  .container {
    margin: 0 10vw;
  }
}

@media (min-width: 1500px) {
  .container {
    margin: 2em 20vw;
  }
}
